:root {
  --primary: var(--tg-theme-link-color);
  --primary-hover: var(--tg-theme-button-color);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
